.container{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.tagline-wrapper{
	background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../img/header1.jpg') no-repeat center top;
  background-size: cover;
  /*color: white;*/
	/*background-attachment: fixed;*/
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
 }

.new-site.home .intro .tagline-wrapper{
  text-align: center;
  padding: 160px;
  margin-top: 55px;
}

section{
  padding: 120px;
}

#portafolio img{
  width: 500px!important;
  height: 400px!important;
}

.team-member img{
  width: 225px;
  height: 225px;
  border: 7px solid #fff;
}

#experiencia img{
  width: 100px!important;
  height: 100px!important;
}

.parrafoInicial{
  display: contents;
}

#servicios {
  background-color: rgb(163, 0, 0) !important;
}

#equipo{
  background-color: rgb(163, 0, 0) !important;
}


@media (min-width: 768px) {
  .container{
    /*background-color: green;*/
}
  p.parrafoExperiencia{
    margin-left: -70px;
  }

  #equipo .fotos{
    margin-left: -14px;
    margin-right: -64px;
  }

}

@media (min-width: 640px) {
  #experiencia .logos{
    margin-left: -50px;
  }
  #equipo .fotos{
    margin-left: -82px;
    margin-right: -50px;
  }
  #experiencia .parrafoExperiencia{
    margin-left: -100px;
    margin-right: -100px;
  }
  #acerca .section-heading{
    margin-left: -95px;
    margin-right: -95px;
  }

  h1.text-uppercase.titulo{
    margin-left: -90px;
  }
  #equipo .container{
    margin-left: 25px;
  }

}


@media (min-width: 480px) {
  /*.container{
    background-color: red;
  }

  .masthead .container.my-auto{
    margin-left: -45px;
    display: inline-table;
  }*/

  h1.text-uppercase.titulo{
    font-size: 30px;
  }

  .masthead p.parrafoTitulo{
    font-size: 23px;
  }

  #experiencia .logosExperiencia{
    margin-left: -87px;
  }

  #contact .iconos{
    font-size: 10px;
  }

  #contact h5{
    font-size: 17px;
  }

  #experiencia .parrafoExperiencia{
    margin-left: -47px;
    margin-right: -156px;
  }

  #experiencia h2.section-heading{
    margin-left: -40px;
  }

  .masthead strong.empresa {
    display: grid;
    margin-left: -60px;
  }

  hr{
    margin-left: 56px;
  }

  .masthead p.parrafoTitulo{
    margin-left: 30px;
  }

}
